<ion-content padding class="transparent-header">
  <!-- <h3 class="sub-logo">Toko Baju</h3> -->
  <img class="logo" src="assets/imgs/icon.png" />
  <div padding>
    <ion-item>
      <ion-input type="text" placeholder="Nama" [(ngModel)]="data.nama"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Username" [(ngModel)]="data.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="data.password"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-input type="password" placeholder="Ulangi Password" [(ngModel)]="data.repassword"></ion-input>
    </ion-item> -->
    <button ion-button block outline (click)="register()" color="light" class="login-button">Daftar</button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="login()">
      <span>Sudah punya akun? <strong>Masuk disini</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>
