<!--
  Generated template for the AkunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Akun</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-list>
      <button ion-item (click)="openPage()">Daftar Transaksi</button>
      <button ion-item (click)="logout()">Logout</button>
   </ion-list>
</ion-content>
