<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   <ion-toolbar>
     <ion-title>Home</ion-title>
     <ion-buttons start style="margin-right: 10px">
       <button ion-button icon-only (click)="scanner()">
         <ion-icon name="barcode"></ion-icon>
       </button>
     </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-fab bottom right *ngIf="list.length">
     <button ion-fab (click)="checkout()">
        <ion-icon name="cash"></ion-icon>
     </button>
   </ion-fab>

   <ion-list>
      <ion-item>
        <p>Total Belanja: </p>
        <span item-end>{{ totalbelanja | currency : "Rp. "}}</span>
      </ion-item>
      <ion-item-sliding *ngFor="let item of list; let in=index">
         <ion-item>
           <!-- <ion-thumbnail item-start>
             <img src="assets/imgs/no-image.png">
           </ion-thumbnail> -->
           <h2>{{ item.kode }}</h2>
           <p>{{ item.keterangan }}</p>
           <p><i>uk: {{ item.ukuran }}</i></p>
           <p><b>{{ item.harga | currency : "Rp. "}}</b></p>
           <mat-form-field item-end>
              <mat-select placeholder="Qty" style="width: 50px;" [(ngModel)]="item.qty" (selectionChange)="calculateTotal()">
                 <mat-option *ngFor="let i of number" [value]="i">{{ i }}</mat-option>
              </mat-select>
           </mat-form-field>
         </ion-item>
         <ion-item-options side="right">
           <button ion-button color="danger" (click)="delete(in)">
             <ion-icon name="trash"></ion-icon>
             Hapus
           </button>
         </ion-item-options>
      </ion-item-sliding>
   </ion-list>
</ion-content>
