page-home {
   .mat-input-underline.mat-form-field-underline {
      background: transparent;
   }

   .mat-input-ripple.mat-form-field-ripple{
      background-color: transparent;
   }

   .mat-input-wrapper.mat-form-field-wrapper{
      max-width: 50px;
   }

}
