<!--
  Generated template for the DaftarTransaksiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Daftar Transaksi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
         pullingIcon="arrow-dropdown"
         pullingText="Pull to refresh"
         refreshingSpinner="circles"
         refreshingText="Refreshing..."></ion-refresher-content>
   </ion-refresher>
   <ion-list>
      <button ion-item *ngFor="let item of list">
         <h2>{{ item.kode_transaksi }}</h2>
         <p>{{ item.timestamp | date: 'dd LLL yyyy, HH:mm' }}</p>
         <p>Total: {{ item.harga | currency : "Rp. "}}</p>
         <p *ngIf="item.status == 0" item-end><b>Belum Bayar</b></p>
         <p *ngIf="item.status == 1" item-end><b>Lunas</b></p>
         <p *ngIf="item.status == 2" item-end><b>Dibatalkan</b></p>
      </button>
   </ion-list>
</ion-content>
